/* Import tailwind and disable automatic source detection */
@import "tailwindcss" source("../site");

@font-face {
  font-family: "Apfel Grotesk";
  src: url("fonts/apfel.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Feature Mono";
  src: url("fonts/featureMono.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-bright-green: #a2ff00;
  --color-orange: #f8661b;
  --color-blue: #01b4ff;
  --color-green: #36b250;
  --color-dark-blue: #4653a4;
  --shadow-green: 0 0 100px 50px #a2ff00;

  --font-family-sans: "Apfel Grotesk", "sans-serif";
  --font-family-mono: "Feature Mono", "monospace";

  --animate-spin-slow: spin 15s linear infinite;
  @keyframes spin-slow {
    from: {
      transform: rotate(0deg);
    }
    to: {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  html {
    background: var(--color-blue);
  }
  body {
    font-family: "Apfel Grotesk", "sans-serif";
    font-size: 1rem; /* 16px */
    line-height: 1.3125rem; /* 21px */
    line-height: auto;
    background: white;
    color: black;
  }

  h1,
  .h1 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.9375rem; /* 31px */
    font-weight: bold;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  .large-text {
    font-size: 1.25rem; /* 20px */
  }

  a:hover {
    @apply underline;
  }

  a,
  button {
    cursor: pointer;
  }

  .text-tiny {
    font-size: 0.8rem; /* 14px */
    line-height: 1rem; /* 19px */
  }

  .prose {
    @apply space-y-4;
  }

  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.25rem; /* 20px */
      line-height: 1.625rem; /* 26px */
    }

    h1,
    .h1 {
      font-size: 2.5rem; /* 40px */
      line-height: 3.1875rem; /* 51px */
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    .large-text {
      font-size: 1.5rem; /* 24px */
      line-height: 1.9375rem; /* 31px */
    }
  }
}

@layer components {
  /* Page-specific background colors using data attributes */
  body[data-page="about"] {
    background-color: var(--color-green);
  }

  body[data-page="newsletter"] {
    background-color: var(--color-orange);
  }

  body[data-page="activity"] {
    background-color: var(--color-green);
  }

  .blob::before {
    content: "";
    @apply w-5 h-5 lg:w-10 lg:h-10 rounded-full inline-block lg:align-[-10%] align-[-8%];
  }

  .blob-small::before {
    content: "";
    @apply w-4 h-4 lg:w-5 lg:h-5 rounded-full inline-block lg:align-[-10%] align-[-8%] mr-2;
  }

  .tag {
    @apply inline-block px-1.5 py-0.5 font-family-mono border border-black bg-white transition-colors text-base lowercase;
  }

  .tag:hover,
  .tag.active {
    @apply bg-bright-green;
  }

  .meta-label {
    @apply font-family-mono text-base;
  }
}
